extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to show 
  else 
    - let foxid = toShow._id 
    - let name = toShow.name 
    - let weight = toShow.weight 
    - let color = toShow.color 
    div 
      div.row 
        div(class='foxAttr mr-3') fox ID is: 
        div #{foxid} 
      div.row 
        div(class='foxAttr mr-3') fox name is: 
        div #{name} 
      div.row 
        div(class='foxAttr mr-3') fox color is: 
        div #{color} 
      div.row 
        div(class='foxAttr mr-3') fox weight is: 
        div #{weight}